/* Aplicando reglas universales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos generales del sitio */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f2f5;
    color: #333
}
/* Definir el estilo del encabezado */
header{
    background-color: #3079BF;
    padding: 20px;
    text-align: center;
}
/* Estilos del logo */
.logo{
   width: 100px; 
}
/* Estilos del navegador */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Estilos de los ítems de la lista */
nav ul li{
    margin: 0 15px;
}
/* Estilos a los enlaces del navegador */
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
/* Estilos a los enlaces cuando se pasa el mouse */
nav ul li a:hover{
    text-decoration: underline;
}
/* Estilo al area principal */
main {
    padding: 30px;
    text-align: center;
}
/* Estilos a la sección */
section{
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}
/* Pie de pagina */
footer{
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
/* Estilo de imagenes */
img{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}
/* Estilos de las tarjetas de servicios */
.tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
/* Estilos a cada tarjeta */
.tarjeta{
    background-color: #e0f7fa;
    padding: 20px;
    border: 2px solid #4caf50;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
}
/* Diseño responsivo */
@media (max-width: 768px){
    /* Cambiar la orientacion a columnas del menu*/
    nav ul{
        flex-direction: column;
    }
    /* Ajustar los márgenes superiores entre cada menú */
    nav ul li{
        margin: 10px 0;
    }
    /* Colocando las tarjetas una debajo de otra */
    .tarjetas{
        flex-direction: column;
        align-items: center;
    }
    /* Cada tarjeta ocupa el 80% del espacio disponible */
    .tarjeta{
        width: 80%;
    }
}
